<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
  <title> {{ tittle }}</title>

  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">

  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

  <link rel="stylesheet" href="{{url_for('static', filename='css/swiper.min.css')}}">
  
  <link rel="stylesheet" href="{{url_for('static', filename='highlitght.css')}}">
  
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  
  
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>     
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
    processEscapes: true
  },
  "HTML-CSS": { fonts: ["TeX"] }
  });
  </script>
  <script type="text/javascript" src="https://cdn.bootcss.com/mathjax/2.7.4/MathJax.js"></script>     

  <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script type="text/javascript">
  $(function() {
	    var $attribute = $('[data-smart-affix]');
	    $attribute.each(function() {
	      $(this).affix({
	        offset: {
	          top: $(this).offset().top,
	        }
	      })
	    })
	    $(window).on("resize", function() {
	      $attribute.each(function() {
	        $(this).data('bs.affix').options.offset.top = $(this).offset().top
	      })
	    })
	  });
  </script>
</head>
