<!DOCTYPE html>
<html lang="en">
{% block header %}
  {% include 'header.html' %}
{% endblock %}
<body>

{% block top_header_bar %}
  {% include 'topbar.html' %}
{% endblock %}

<div class="outer-container">
  {% block page_header %}
    {% include 'site_header.html' %}
  {% endblock %}
  
  {% block hero_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!--
        <div class="swiper-container hero-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="hero-content flex justify-content-center align-items-center flex-column">
                <img src="images/slider.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="hero-content flex justify-content-center align-items-center flex-column">
                <img src="images/slider.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="hero-content flex justify-content-center align-items-center flex-column">
                <img src="images/slider.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next flex justify-content-center align-items-center">
            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></path></svg></span>
          </div>
          <div class="swiper-button-prev flex justify-content-center align-items-center">
            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></path></svg></span>
          </div>
        </div>
        -->
      </div>
    </div>
  </div><!-- .hero-section -->
  {% endblock %}

  <div class="container single-page">
  {% block single_pages %}
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="content-wrap">
          <header class="entry-header">
            <h2 class="entry-title"> {{ title }} </h2>
              <div class="tags-links">
                {% if category %}
                  Category: <a href="/category/{{category}}">{{ category }}</a>
                {% endif %}
              </div>
          </header>
          <div class="entry-content">
            {% block Content %}
            {% import 'macro.html' as macro %}
              {% if date %}
                {{ macro.render_date(date) }}
              {% endif %}
              {{ macro.render_content(content) }}
              {{ macro.render_content_footer(type, comment, name) }}
            {% endblock %}
          </div>
        </div><!-- .content-wrap -->
        {% block pages %}
        {% endblock %}
      </div>
      <div class="col-12 col-lg-3">
        <div class="tag-list">
          <a href="#">
            <div class="yt-subscribe">
              <h3>About Me</h3>
              <p>To Contact Me</p>
              <img src="{{url_for('static', filename='img/header.jpg')}}" alt="Youtube Subscribe">
            </div><!-- .yt-subscribe -->
          </a>
        </div><!-- .col -->
        <div class="sidebar" data-smart-affix>
          {% block Toc %}
            {% if toc %}
              <div class="toc-block">
                <div class="toc-title"><p>目录</p></div>
                  {{ toc|safe }}
                </div>
            {% endif %}
          {% endblock %}
          <div class="tags-list">
            {% macro render_tags(tag) %}
              <a href="/tag/{{ tag }}"> {{ tag }} </a>
            {% endmacro %}
            {% if tags %}
              <label>Tags :  </label>
              <br>
              {% for tag in tags %}
                {{ render_tags(tag) }}
              {% endfor %}
            {% endif %}
          </div><!-- .tags-list -->
        </div><!-- .sidebar -->
      </div><!-- .col -->
    </div><!-- .col -->
  {% endblock %}
  </div><!-- .row -->

</div><!-- .outer-container -->
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/swiper.min.js')}}"></script>
   <script type='text/javascript' src="{{url_for('static', filename='js/custom.js')}}"></script>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</body>
</html>
