<div class="top-header-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 flex align-items-center">
          <div class="header-bar-text d-none d-lg-block">
            <p>Hello world, here's VZXXBACQ's blog</p>
          </div><!-- .header-bar-text -->
          <div class="header-bar-email d-none d-lg-block">
            <a href="mailto:fhq981014@gmail.com">fhq981014@gmail.com</a>
          </div>
        </div><!-- top.row.left.6 -->
        <div class="col-12 col-lg-6 flex justify-content-between justify-content-lg-end align-items-center">
          <div class="header-bar-social d-none d-md-block">
            <ul class="flex align-items-center">
              <li><a href="https://www.github.com/vzxxbacq" target="_blank"><i class="fa fa-github"></i></a></li>
              <li><a href="https://twitter.com/vzxxbacq_fhq" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.zhihu.com/people/yolo-85-65/activities" target="_blank"><i class="fa fa-quora"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div><!-- top.row.right.6.socialtag --> 
          <div class="header-bar-search d-none d-md-block">
            <form method="POST" action="/search">
              <input type="search" name="search" placeholder="Search">
            </form>
          </div><!-- top.row.right.6.search -->
        </div><!-- top.row.right.6 -->
      </div><!-- top.row -->
    </div><!-- top.contrainer -->
</div><!-- top -->